* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body, html {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background: rgba(128, 128, 128, 0.2);
    text-align: center;
    padding: 1em;
    margin: 1em;
    border-radius: 8px;
}

.time {
    color: white;
    font-size: 3em;
    line-height: 3em;
    letter-spacing: 0.1em;
}

.time:hover {
    cursor: pointer;
}

.button-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button {
    width: 150px;
    border: none;
    padding: 0.5em 0;
    margin: 0.2em;
    color: white;
    font-size: 2em;
    border-radius: 5px;
}

.button:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 0.2s;
}

.start-btn {
    background: green;
}
.pause-btn {
    background: gray;
}
.stop-btn {
    background: red;
}